#mainContent {
  width: 100rem;
  height: 100rem;
  background-color: #4199fc;
  padding-top: 8rem;
  padding-left: 8rem;
}

#leSoleil {
  background-color: #fcca00;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  animation: slideSoleil 10s normal linear;
}

.cloud {
  width: 6rem;
  height: auto;
  filter: invert(1);
}

#c1 {
  margin-left: 10rem;
  display: block;
  animation: slideleftC1 10s normal linear;
}

#c2 {
  margin-left: 25rem;
  animation: slideleftC2 10s normal linear;
}

@keyframes slideleftC1 {
  from {
    margin-left: 15%;
  }
  to {
    margin-left: 10%;
  }
}

@keyframes slideleftC2 {
  from {
    margin-left: 30%;
  }
  to {
    margin-left: 20%;
  }
}

@keyframes slideSoleil {
  from {
    margin-left: 1rem;
  }
  to {
    margin-left: 3rem;
  }
}